<a href="/s-inscrire" class="button">
  <i class="fas fa-walking"></i> - s'inscrire
</a>

<style>
  a.button {
    width: 8em;
    font-size: 1.3em;
    margin: 0 auto;
    line-height: 1.6em;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 0;
    color: #fff;
    background-color: #a0d468;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.25s ease, border-color 0.25s ease,
      color 0.25s ease;
    text-align: center;
    white-space: normal;
  }

  a.button:hover {
    color: #fff;
    background-color: #8cc152;
  }
</style>
